name = "valinaf-trader-bot"
main = "src/index.ts"
compatibility_date = "2026-02-04"

# 1) یک KV Namespace بسازید:
# wrangler kv:namespace create DB
# سپس id را اینجا قرار دهید.
kv_namespaces = [
  { binding = "DB", id ="c9212375-a114-40f5-8b80-5d38918a8b7c" }
]

[triggers]
# برای پردازش Custom Prompt با تاخیر ۲ ساعت (هر ۵ دقیقه بررسی می‌کند)
crons = ["*/5 * * * *"]

# اگر از محیط‌های مختلف استفاده می‌کنید:
# [env.production]
# name = "valinaf-trader-bot"
